<!-- Begin: landing.tmpl -->

<div class="jumbotron text-center amigo-jumbotron-override">
  <h2>Search for Planteome Ontology terms</h2>
  <!-- <p class="lead"> -->
  <div class="lead">
    More information on quick search
    [% INCLUDE "common/autocomplete_help_link.tmpl" %]

    [% INCLUDE "common/landing_search_form.tmpl" %]
  </div>
  <!-- </p> -->
  <!-- <p> -->
  <!--   <a class="btn btn-lg btn-success" -->
  <!--      href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Overview">Learn more</a> -->
  <!-- </p> -->
</div>

[% INCLUDE common/noscript_js_limited.tmpl %]

[% INCLUDE common/noscript_js_limited_search.tmpl %]

<!-- <div class="col-xs-12 col-sm-9"> -->

[% three_row_classes = "col-xs-12 col-sm-6 col-md-4 col-lg-4" %]
[% two_row_classes = "col-xs-12 col-sm-6 col-md-6 col-lg-6" %]
<div class="container-fluid">
  <div class="row">

    <!-- justin -->
	<h2>Reference Ontologies for Plants:</h2>
	<b>To be developed by the Planteome Project:</b>
	<ul>
	<li>Plant Ontology (PO) [<a href="http://wiki.plantontology.org/index.php/Main_Page">Visit PO Wiki page</a> | <a href="https://github.com/Planteome/plant-ontology">Download</a></li>
	<ul>
	<li>[<a href="/amigo/term/PO:0025131#display-lineage-tab">Browse PO: plant anatomical entity</a>]</li>
	<li>[<a href="/amigo/term/PO:0009012#display-lineage-tab">Browse PO: plant structure development stage</a>]</li>
	</ul>
<!--	<li>Plant Trait Ontology (TO) [<a href="/amigo/term/TO:0000387#display-lineage-tab">Browse TO</a> | <a href="https://github.com/Planteome/plant-trait-ontology/wiki">Visit TO Wiki page</a>] | <a href="https://github.com/Planteome/plant-trait-ontology">Download</a></li>
-->
	<li>Plant Trait Ontology (TO) [<a href="/amigo/term/TO:0000387#display-lineage-tab">Browse TO</a> | <a href="https://github.com/Planteome/plant-trait-ontology">Download</a></li>
	<li>Plant Environment Ontology (EO)[<a href="amigo/term/EO:0007359#display-lineage-tab">Browse EO</a> | <a href="https://github.com/Planteome/plant-environment-ontology">Download</a>]</li>
	<li>Plant Stress Ontology (PSO) [<a href="http://wiki.plantontology.org/index.php/Plant_Stress_Ontology">work in progress</a>]</li>
	</ul>

	<b>External Reference Ontologies for Plants </b>
	<ul>
	<li>Gene Ontology (GO) [<a href="http://www.geneontology.org">Visit GO project website</a> | <a href="http://geneontology.org/GO.downloads.ontology.shtml">Download</a>].
	<ul>
	<li>[<a href="/amigo/term/GO:0008150#display-lineage-tab">Browse GO: biological process</a>]</li>
	<li>[<a href="/amigo/term/GO:0005575#display-lineage-tab">Browse GO: cellular component</a>]</li>
	<li>[<a href="/amigo/term/GO:0003674#display-lineage-tab">Browse GO: molecular function</a>]</li>
	</ul>
	<li>Phenotype and Attribute Ontology (<a href="http://obofoundry.org/ontology/pato.html">PATO</a>)</li>
	<li>Protein Ontology (<a href="http://obofoundry.org/ontology/pr.html">PR</a>)</li>
	<li>Chemical Entities of Biological Interest (<a href="http://obofoundry.org/ontologychebi.html/">ChEBI</a>)</li>
	</ul>


  </div>
</div>

[% IF BETA == 1 %]
<!-- beta section -->    
[% END %]
<!-- End: landing.tmpl -->
